*,
*::after,
*::before{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-family: var(--ff-body);
   font-size: 16px;
   color: var(--grayish-blue);
}

body{
   width: 100%;
   margin: 0; 
   padding: 0;   
}

h1,h2 {
   font-family: var(--ff-title);
}

.title {
   position: relative;
   width: 100%;
   font-size: 3em;
   color: var(--very-dark-violet);
   line-height: 1;
   text-align: center;

   &::before {
       content: '';
       position: absolute;
       width: 40%;
       height: 1px;
       background: var(--dark-grayish-violet);
       top: -100%;
       left: 50%;
       transform: translateX(-50%);
   }

   @include table {
      font-size: 4.375em;
      &::before {
         top: -10%;
         left: 0;
         transform: translateX(0);
      }

   }

}

ul {
   list-style: none;
}

a{
   text-decoration: none;
}

p {
   line-height: 1.5;
}