.about {
    width: 100%;
    margin-top: 10.75em;
    
    padding: 0 1.5625em;  
    
    @include table {
        margin-top: 20em;
        padding: 0 10em;
    }
}


.cards {
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    @include table {
        flex-direction: row ;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.card {
    width: 100%;
    height: 300px;
    padding: 2em 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
    @include table {
        align-items: flex-start;
        text-align: left;
    }
}

.card__title {
    font-size: 1.75em;
    color: var(--dark-violet);
    margin-top: 1em;
    margin-bottom: 1em;
}
