.how-we-work {
    width: 100%;
    height: 100%;
    padding: 1.5em;
}

.subtitle {
    font-size: 2.5em;
    margin-bottom: 1em;
    
    @include table {
        margin-bottom: 0;
        
    }
}

.container{
    width: 100%;
    padding: 2em 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    background-color: var(--dark-violet);
    background-image: url("../assets/images/bg-pattern-how-we-work-mobile.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    
    @include table {
        padding: 2em 5em;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: url("../assets/images/bg-pattern-how-we-work-desktop.svg");

    }
}

.btn {
    width: fit-content;
    margin-bottom: 5em;
    padding: 1em 2.5em;
    line-height: 1em;
    text-transform: uppercase;
    background: transparent;
    
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);

    @include table {
        margin-bottom: 0;
    }
}

