.how-we-work {
    position: relative;

    padding: 4em 2em;
    margin-top: 10em;
    margin-bottom: 2.5em;
    margin-right: 1.5625em;
    margin-left: 1.5625em;
    
    background-color: var(--dark-violet);
    background-image: url("../assets/images/bg-pattern-how-we-work-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    
    @include table {
        padding: 3em 2em 1.5em 2em;
        margin: 5em 10em;  
        background-image: url("../assets/images/bg-pattern-how-we-work-desktop.svg");
    }
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include table {
        flex-direction: row;
        justify-content: space-around;
    }
}

.subtitle {
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 1em;
    line-height: 1;
    color: :var(--very-light-gray);
    
    @include table {
        width: 50%;
        font-size: 3.625em; 
        text-align: left;
    }
}

.btn {
    width: fit-content;
    padding: 1em 2.5em;
    line-height: 1em;
    text-transform: uppercase;
    background: transparent;
    
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);

    &:hover {
        color: var(--dark-grayish-violet);
        background: var(--very-light-gray);
        border: 1px solid var(--very-light-gray);
    }
}