.toggle-menu{
    width: 1.25rem;
    height: 1.25rem;
 
    z-index: 100;
 
    cursor: pointer;

    @include table {
       display: none;
    }
 
    &:hover{
       transform: scale(.95);
    }
 }